
@font-face {
    font-family: 'Luxury Royale Jf';
    src: url('../fonts/LUXURY ROYALE JF/luxury_royale_jf_regular-webfont.woff2') format('woff2'),
         url('../fonts/LUXURY ROYALE JF/luxury_royale_jf_regular-webfont.woff') format('woff'),
         url('../fonts/LUXURY ROYALE JF/luxury_royale_jf_regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'a_empirialregular';
    src: url('../fonts/AEmpririal/a_empririal-webfont.woff2') format('woff2'),
         url('../fonts/AEmpririal/a_empririal-webfont.woff') format('woff'),
         url('../fonts/AEmpririal/a_Empririal.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  width: 100%;
  font-size: 10px;
  font-family: 'Arial', sans-serif;
  background: #fff;
}

p {
    font-family: 'Arial Regular', sans-serif;
    font-size: 12px
}

a {
  text-decoration: none;
}

.wrapper {
  width: 100vw;
  margin: 0 auto;
  background: #fff;
}

/* HEADER */

header {
  width: 100vw;
  top: 0;
  background: #fff;
}

.container {
  width: 80.83%;
  margin: 0 auto;
}

.user-area {
  min-height: 30px;
font-family: 'Arial Regular', sans-serif;
font-size: 12px;
  color: #fff;
  background: #000;
  text-transform: uppercase;
}

/* HEADLINE */

.headline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.cont-1 {
  margin: 8px 0;
}

.cont-1 p {
  display: inline;
}

.cont-1 p:last-child {
  margin-left: 8px;
}

.cont-2 p {
  display: inline-block;
}
.cont-2 p:first-child{
  padding: 8px 0 8px 15px;
  border-left: 1px solid #444444;
}

.cont-2 i:nth-child(2) {
  padding: 8px 14px 8px 10px;
  border-right: 1px solid #444444;
}

.cont-2 i:nth-child(3) {
  margin-left: 14px;
  color: #666666;
}

.cont-2 p:nth-child(4) {
  margin: 0 15px 0 10px;
}

.cont-2 i:last-child {
  padding: 8px 9px;
  border-left: 1px solid #444444;
  border-right: 1px solid #444444;
}

/* MAIN HEADER */

.main-header {
  min-height: 105px;
  background: #fff;
}

.headmain {
  min-height: 105px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

logo {
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  cursor: default;
}

.headplace2 {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

nav {
display: flex;
flex-wrap: wrap;
}

nav a {
  color: #000;
  font-family: 'Arial Regular', sans-serif;
  font-size: 16px;
  margin-right: 32px;
}

.userdata {
  color: #949393;
  display: flex;
  flex-direction: column;
  width: 214px;
}

.userdata a {
color: #949393;
font-family: 'Arial Regular' sans-serif;
font-size: 12px;
border: 1px solid #949393;
padding: 11px 8px;
display: inline-block;
}

.userdata a i {
  float: right;
}

.userdata p {
  text-align: right;
  max-width: 212px;
  background: #fafafa;
  display: inline-block;
  text-transform: uppercase;
  border-bottom: 1px solid #949393;
  border-left: 1px solid #949393;
  border-right: 1px solid #949393;
  font-size: 11px;
  padding: 11px 8px;
}

.headbag {
  float: left;
}

/*SLIDER NEW*/

.slideshow-container {
  width: 100vw;
  position: relative;
}

.slide-bg-1 {
  background: url(../img/slider-bg-1.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: 0;
}

.slide-bg-2 {
  background: url(../img/slider-bg-2.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: 0;

}
.slide-bg-3 {
  background: url(../img/slider-bg-3.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: 0;

}
.slide-bg-4 {
  background: url(../img/slider-bg-4.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: 0;

}
.slide-bg-5 {
  background: url(../img/slider-bg-5.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: 0;

}


.slides {
  display: none;
  width: 100vw;
  height: 440px;
}

.text {
 height: 100%;
}

.slider-title {
  font-size: 15px;
 width: 50%;
 display: flex;
 flex-direction: column;
  padding: 8px 16px;
  bottom: 8px;
  color: #f2f2f2;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.slider-title div {
  height: 2px;
  width: 60%;
  background: #78645d;
}

.slider-title h4 {
  font-family: 'Luxury Royale Jf', sans-serif;
  font-size: 36px;
  color: #78645d;
  margin-top: -30px;
  background: #f6f3ec;
  padding: 0 6px;

}

.slider-title h2 {
  font-family: 'Helvetica Neue Lt Std 87 Heavy Condensed', sans-serif;
  font-size: 96.04px;
  margin-top: 8px;
  line-height: 72px;
  padding-bottom: 9px;
text-align: center;
text-transform: uppercase;
border-bottom: 4px solid #78645d;
background: linear-gradient(#c8abae, #f5b38d, #d3afa0);
 -webkit-background-clip: text;
 color: transparent;
}

.slider-title h3 {
  font-family: 'Helvetica Neue Lt Std 47 Light Condensed', sans-serif;
font-size: 36px;
color: #78645d;
margin-top: 3px;
margin-bottom: 18px;
padding: 12px 20px 0 20px;
line-height: 100%;
text-transform: uppercase;
border-top: 1px solid #78645d;
}

.slider-title a {
background: #fd926d;
border-bottom: 3px solid #dd6b44;
cursor: pointer;
padding: 22px 25px 20px 25px;
font-family: 'Helvetica Neue Lt Std 35 Thin', sans-serif;
font-size: 16px;
text-transform: uppercase;
-moz-user-select: none;
-khtml-user-select: none;
user-select: none;
cursor: pointer;
  }

  .slider-title a i {
margin-left: 20px;
    }

  .slider-title a:active {
    margin-top: 2px;
  border-bottom-color: #fd926d;
  }


.prev, .next {
  position: absolute;
  top: 35%;
  color: #cbcbca;
  background: #fdfcfc;
  font-weight: bold;
  padding: 10px 10px;
  font-size: 18px;
  cursor: pointer;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

.prev {
  padding: 50px 11px 50px 7px;
}

.next {
  right: 0;
  padding: 50px 7px 50px 11px;
}

.prev:hover, .next:hover {
  background: rgba(253,146,109,0.8);
}

.navdots {
  min-height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dots {
  width: 10px;
  height: 10px;
  background: #867a76;
  border-radius: 50%;
  cursor: pointer;
  margin: 0 10px 0 10px;
}

.fade {
  animation-name: fade;
  animation-duration: 0.5s;
}

@keyframes fade {
  from{opacity: 0.4}
    to{opacity: 1}
}

.active, .dots:hover {
  background: #fd926d;
}

/* MAIN */

main {
  min-height: calc(100vh - 330px);
}

/* Contact Line */

.contact-line {
  min-height: 55px;
  background: #ededed;
}

.section-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

}

/* INPUT AREA */

form {
  display: flex;
  flex-wrap: wrap;
}

input:required, textarea:required {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}

/** inputs and textarea**/

input:not([type="submit"]), textarea {
  outline: none;
  display: block;
  width: 130px;
  padding: 4px 10px;
  border: none;
  color: #333333;
  border-left: 1px solid #fff;
  background: #fff;
  font-family: 'Calibri Light', Tahoma, Arial, Verdana sans-serif;
  font-size: 14px;
  /*transition*/
  -webkit-transition: background 0.2s linear, box-shadow 0.6s linear;
  -moz-transition: background 0.2s linear, box-shadow 0.6s linear;
  -o-transition: background 0.2s linear, box-shadow 0.6s linear;
  transition: background 0.2s linear, box-shadow 0.6s linear;
}

input:not([type="submit"]):active, textarea:active, input:not([type="submit"]):focus, textarea:focus {
  background: #F7F7F7;
  border-color: #fd926d;
  /*box-shadow*/
  -webkit-box-shadow: 2px 2px 7px #E8E8E8 inset;
  -moz-box-shadow: 2px 2px 7px #E8E8E8 inset;
  box-shadow: 2px 2px 7px #E8E8E8 inset;
}

input:not([type="submit"]) {
  height: 30px;
}

/* placeholder */

::-webkit-input-placeholder {
  color: #9f9f9f;
  font-style: italic;
}

input:-moz-placeholder, textarea:-moz-placeholder {
  color: #f8f7f6;
}

/** labels**/

label {
  color: #6b6b6b;
  font-size: 12px;
  float: left;
  margin-right: 11px;
  padding-top: 12px;
  -webkit-transition: color 1s ease;
  -moz-transition: color 1s ease;
  transition: color 1s ease;
}

label:hover {
  font-weight: bold;
  color: #fd926d;
}


/* input area */
input[type=submit] {
  background: #fd926d;
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  border: none;
  border-bottom: 3px solid #dd6b44;
  cursor: pointer;
}

input[type=submit]:hover {
  background: #fdad2f;
}

input[type=submit]:active, input[type=submit]:focus {
  position: relative;
  top: 1px;
  color: #515151;
  border-color: #fb9c06;
}

.social {
  display: flex;
  align-items: center;
  height: 55px;
}

.social p {
  color: #6b6b6b;
  margin-right: 10px;
}

.social a i {
  color: #6b6b6b;
  height: 100%;
  padding: 18px 18px;
}

.social a:nth-child(2n) {
  background: #f7f7f7;
}

.social a i:hover {
  color: #fff;
  background: #fd926d;
}

/*  Section-2 */

.section-2 {
  margin: 40px 0 50px 0;
  background: #fff;
  text-transform: uppercase;
}

.gallery {
  display: flex;
  max-height: auto;
}

.figure-1 {
  width: 50%;
  background: url('../img/pic1.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.block-1 {
  width: 50%;
  height: 340px;
}

.figure-1-title {
  width: 63%;
  text-align: center;
}

.figure-1 h4 {
  color: #414141;
  font-family: 'Helvetica Neue Lt Std 97 Black Condensed', sans-serif;
  font-size: 33.96px;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  cursor: default;
}

.figure-1 h3 {
  font-family: 'Helvetica Neue Lt Std 37 Thin Condensed', sans-serif;
  font-size: 74.47px;
  color: #414141;
  width: 75%;
  border-bottom: 1px solid #414141;
  text-transform: uppercase;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  cursor: default;
}

.figure-1 h5 {
  font-family: 'Helvetica Neue Lt Std 46 Light', sans-serif;
  font-size: 22.03px;
  color: #fff;
  width: 33px;
  height: 33px;
  background: #414141;
  border-radius: 50%;
  margin-top: -16.5px;
  font-weight: italic;
  text-transform: uppercase;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  cursor: default;
}

.figure-1 h2 {
  font-family: 'Helvetica Neue Lt Std 97 Bold Condensed', sans-serif;
  font-size: 82.08px;
  color: #4fafa0;
  text-transform: uppercase;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  cursor: default;
}

.figure-2 {
  width: 100%;
  height: 170px;
  background: url('../img/pic2.jpg');
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-size: cover;
  background-position: center;
}

.figure-2-title {
  margin-left: 30px;
  height: 135px;
  width: 131px;
  background: url(../img/Ellipse.png) no-repeat;
  text-align: center;
}

.figure-2 h4 {
  color: #ffa687;
  font-family: 'Bello', sans-serif;
  font-size: 22px;
  margin-top: 30px;
  line-height: 100%;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  text-transform: none;
  cursor: default;
}

.figure-2 h3 {
  font-family: 'Helvetica Neue Lt Std Ultra Light Condensed', sans-serif;
  font-size: 42.41px;
  color: #c1aea8;
  text-transform: uppercase;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  cursor: default;
}

.figure-2 h5 {
  font-family: 'Helvetica Neue Lt Std 77 Bold Condensed', sans-serif;
  font-size: 14px;
  color: #6a6a6a;
  text-transform: uppercase;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  cursor: default;
}

.block-2 {
  width: 100%;
  height: 170px;
  display: flex;
  flex-direction: row;
}

.figure-3 {
  width: 50%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background: url('../img/pic3.jpg');
  background-size: cover;
  background-position: center;
}

.figure-3 a {
font-family: 'Helvetica Neue Lt Std Ultra Light Condensed', sans-serif;
font-size: 33.96px;
text-transform: uppercase;
-moz-user-select: none;
-khtml-user-select: none;
user-select: none;
cursor: pointer;
  }

  .figure-3 a i {
    margin-left: 12px;
    }

    .figure-3 a:hover {
  color: #1ee0c2;
  }

.figure-4 {
  width: 50%;
  background: url('../img/pic4.jpg');
  background-size: cover;
  background-position: center;
  color: #fff;
}

.figure-4-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 65.8%;
  text-align: center;
}

.figure-4  h3 {
  margin-top: 47px;
  font-family: 'Helvetica Neue Lt Std 57 Condensed', sans-serif;
font-size: 36px;
line-height: 30px;
margin-bottom: 19px;
}

.figure-4 a {
background: #4fafa0;
cursor: pointer;
padding: 10px 12px 10px 8px;
font-family: 'Helvetica Neue Lt Std 45 Light', sans-serif;
font-size: 12px;
text-transform: uppercase;
-moz-user-select: none;
-khtml-user-select: none;
user-select: none;
cursor: pointer;
  }

  .figure-4 a i {
margin-left: 10px;
    }

    .figure-4 a:hover {
  background: #1ee0c2;
  }

/* First Article Block */

.section-3 {
  height: 657px;
  background: #fff;
}

.navarea {
  height: 47px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navarea nav {
  display: flex;
  align-items: center;
  height: 47px;
  color: #555555;
  text-transform: uppercase;
}

.active1 {
  height: 100%;
  color: #fff;
  background: #fd926d;
}

/* Sale Content */

.salecontent {
  min-height: 455px;
  background: #fd926d;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.salecont {
  display: flex;
  justify-content: space-between;
}

.shop {
  width: 135px;
  height: 135px;
  border-radius: 50%;
  background: #3d3d3d;
  color: #fff;
}

.shop a {
  color: #fff;
  font-family: 'Arial Regular', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
}

/* CONTENT AREA */

.contentarea {
  min-height: 564px;
  border-bottom: 1px solid #d8d8d8;
  background: #fff;
}

.contentfild {
  border-top: 1px solid #d8d8d8;
  text-align: center;
}

.white-space {
  height: 157px;
  width: 157px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #fff;
  margin: -78.5px auto 25px auto;
}

.elip {
  margin-top: -78.5px;
  height: 157px;
  width: 157px;
  background: url('../img/Ellipse2.png');
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.elip h4 {
  font-family: 'a_Empirial', sans-serif;
  font-size: 36px
}

.elip h3 {
  font-family: 'a_Empirial', sans-serif;
  font-size: 80.77px;
}

.outer {
  display: flex;
  justify-content: center;
}

.inner {
  display: flex;
  flex-direction: column;
}

.fig {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.model {
  width: 220px;
  height: 395px;
  background: #f7f7f7;
  text-align: center;
}

.model:hover {
  width: 240px;
  height: 415px;
  transition: 1s;
}



.trans-1 figure {
  height: 73%;
  width: 100%;
  background: url(../img/mod1.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}

.trans-2 figure {
  height: 73%;
  width: 100%;
  background: url(../img/mod2.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}

.trans-3 figure {
  height: 73%;
  width: 100%;
  background: url(../img/mod3.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}

.trans-4 figure {
  height: 73%;
  width: 100%;
  background: url(../img/mod4.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}

.tran-1 figure {
  height: 73%;
  width: 100%;
  background: url(../img/model1.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}

.tran-2 figure {
  height: 73%;
  width: 100%;
  background: url(../img/model2.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}

.tran-3 figure {
  height: 73%;
  width: 100%;
  background: url(../img/model3.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}

.tran-4 figure {
  height: 73%;
  width: 100%;
  background: url(../img/model4.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}

figcaption {
  font-family: 'Arial Regular', sans-serif;
  color: #373737;
}

figcaption h4 {
  font-size: 12px;
  margin-top: 10px;
  margin-bottom: 8px;
}

figcaption h3 {
  font-size: 22px;
  margin-bottom: 12px;
}

.model a {
color: #fff;
background: #fd926d;
border-bottom: 3px solid #dd6b44;
cursor: pointer;
padding: 10px 12px 9px 10px;
font-family: 'Helvetica Neue Lt Std 45 Light', sans-serif;
font-size: 12px;
text-transform: uppercase;
-moz-user-select: none;
-khtml-user-select: none;
user-select: none;
cursor: pointer;
  }

  .model a i {
margin-left: 12px;
}


.model a:hover {
  padding: 11px 12px 10px 10px;
}

  .model a:active {
  padding: 9px 12px 8px 10px;
  border-bottom-color: #fd926d;
  }

/* BRAND AREA */

.brandarea {
  color: #414141;
  text-transform: uppercase;
  border-bottom: 1px solid #d8d8d8;
}

.brand-title {
  width: 155px;
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  font-size: 15px;
  margin: -9px auto 0 auto;
  padding: 0 20px;
  background: #fff;
}

.brands {
  min-height: 95px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.brands div {
  height: 46px;
}

.brands div:first-child {
  height: 28px;
  width: 80px;
  background: url('../img/brand-bg.png') -3px -15px;
}

.brands div:nth-child(2) {
  height: 52px;
  width: 47px;
  background: url('../img/brand-bg.png') -132px -4px;
}

.brands div:nth-child(3) {
  height: 46px;
  width: 48px;
  background: url('../img/brand-bg.png') -237px -6px;
}

.brands div:nth-child(4) {
  height: 35px;
  width: 53px;
  background: url('../img/brand-bg.png') -345px -15px;
}

.brands div:nth-child(5) {
  height: 13px;
  width: 83px;
  background: url('../img/brand-bg.png') -446px -24px;
}

.brands div:nth-child(6) {
  height: 17px;
  width: 96px;
  background: url('../img/brand-bg.png') -579px -20px;
}

.brands div:nth-child(7) {
  height: 22px;
  width: 69px;
  background: url('../img/brand-bg.png') -719px -16px;
}

.brands div:last-child {
  height: 23px;
  width: 133px;
  background: url('../img/brand-bg.png') -844px -16px;
}


/* TEXT AREA */

.textarea {
  text-align: center;
  font-family: 'Arial Regular', sans-serif;
}

.textarea h2 {
  margin-top: 30px;
  color: #414141;
  font-size: 24px;
}

.textarea p {
  color: #999999;
  font-size: 14px;
  margin: 22px 0 30px 0;
}


/* FOOTER */

footer {
  min-height: 330px;
}


/* PAY AREA */

.payarea {
  height: 58px;
  background: #f7f7f7;
}

.cart {
  height: 58px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.cart p {
  color: #414141;
  margin-right: 5px;
}

.cart div {
  height: 22px;
  width: 34px;
  margin-left: 10px;
}


.cart div:nth-child(2) {
  background: url('../img/cart.png') 0 0;
}

.cart div:nth-child(3) {
  background: url('../img/cart.png') -45px 0;
}

.cart div:nth-child(4) {
  background: url('../img/cart.png') -88px 0;
}

.cart div:nth-child(5) {
  background: url('../img/cart.png') -134px 0;
}

.cart div:nth-child(6) {
  background: url('../img/cart.png') -176px 0;
}

.cart div:nth-child(7) {
  background: url('../img/cart.png') -220px 0;
}

.cart div:nth-child(8) {
  background: url('../img/cart.png') -264px 0;
}

.cart div:nth-child(9) {
  background: url('../img/cart.png') -308px 0;
}

.cart div:nth-child(10) {
  background: url('../img/cart.png') -352px 0;
}

.cart div:nth-child(11) {
  background: url('../img/cart.png') -397.5px 0;
}

.cart div:last-child {
  background: url('../img/cart.png') -442px 0;
}


/* INFO AREA */

.infoarea {
  min-height: 198px;
  background: #ededed;
  font-family: 'Arial', sans-serif;
}

.infoblock {
  min-height: 198px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  color: #544f4d;
}

.infoblock h3 {
  font-size: 16px;
  margin-bottom: 8px;
}

.infoblock p {
  font-family: 'Arial Regular', sans-serif;
  line-height: 18px;
}

.infoblock div:first-child {
  width: 21.16%;
}

.infoblock div:nth-child(2) {
  width: 15.84%;
}

.infoblock div:nth-child(3) {
  width: 20%;
}

.infoblock div:nth-child(4) {
  width: 9.74%;
}

.infoblock div:nth-child(5) {
  display: flex;
  flex-direction: column;
  width: 19.74%;
}

.icons a i {
  color: #fff;
  background: #4c4c4b;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.icons a i:hover {
  color: #4c4c4b;
  background: #fff;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.secured {
  color: #a59d9a;
  height: 107px;
  width: 107px;
  background: url('../img/Ellipse3.png');
}

.secured h3 {
  font-family: 'Impact', sans-serif;
  font-size: 30.21px;
  padding: 25px 0 0 22px;
  margin-bottom: 0;
}

.secured p {
  text-transform: uppercase;
  font-size: 14px;
  padding-left: 22px;
}

/* FOOT */

.footarea {
  min-height: 74px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footarea p{
  text-align: right;
}

.foot {
  min-height: 74px;
  color: #8d8d8d;
  background-color: #000;
}


.area1 {
  display: flex;
  flex-wrap: wrap;
}

.area1 li {
  list-style-type: none;
  font-size: 11px;
  padding: 0 10px 0 10px;
  border-left: 2px solid #8d8d8d;
}

.area1 li a {
  color: #8d8d8d;
}

.area1 li a:hover {
  text-decoration: underline;
}

.area1 li:first-child {
  padding-left: 0;
  border-left: none;
}
