
@font-face {
    font-family: 'a_Empirial';
    src: url('../fonts/AEmpririal/a_empririal-webfont.woff2') format('woff2'),
         url('../fonts/AEmpririal/a_empririal-webfont.woff') format('woff'),
         url('../fonts/AEmpririal/a_Empririal.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bello Script';
    src: url('../fonts/Bello Script/Bello Script.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/Helvetica/Helvetica.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue Lt Std BdCn';
    src: url('../fonts/HelveticaNeueLTStd BdCn/HelveticaNeueLTStd-BdCn.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue Lt Std BlkCn';
    src: url('../fonts/HelveticaNeueLTStd BlkCn/HelveticaNeueLTStd-BlkCn.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue Lt Std Cn';
    src: url('../fonts/HelveticaNeueLTStd Cn/HelveticaNeueLTStd-Cn.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue Lt Std HvCn';
    src: url('../fonts/HelveticaNeueLTStd HvCn/HelveticaNeueLTStd-HvCn.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue Lt Std Lt';
    src: url('../fonts/HelveticaNeueLTStd Lt/HelveticaNeueLTStd-Lt.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue Lt Std LtCn';
    src: url('../fonts/HelveticaNeueLTStd LtCn/HelveticaNeueLTStd-LtCn.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue Lt Std LtIt';
    src: url('../fonts/HelveticaNeueLTStd LtIt/HelveticaNeueLTStd-LtIt.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue Lt Std Th';
    src: url('../fonts/HelveticaNeueLTStd Th/HelveticaNeueLTStd-Th.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueLTStd ThCn';
    src: url('../fonts/HelveticaNeueLTStd ThCn/HelveticaNeueLTStd-ThCn.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue Lt Std UltLtCn';
    src: url('../fonts/HelveticaNeueLTStd UltLtCn/HelveticaNeueLTStd-UltLtCn.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Luxury Royale Jf';
    src: url('../fonts/LUXURY ROYALE JF/luxury_royale_jf_regular-webfont.woff2') format('woff2'),
         url('../fonts/LUXURY ROYALE JF/luxury_royale_jf_regular-webfont.woff') format('woff'),
         url('../fonts/LUXURY ROYALE JF/luxury_royale_jf_regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  width: 100%;
  font-size: 10px;
  font-family: 'Arial', sans-serif;
  background: #fff;
}

ul li {
  list-style-type: none;
}

p {
    font-family: 'Arial Regular', sans-serif;
    font-size: 12px
}

a {
    color: #555555;
  text-decoration: none;
}

.wrapper {
  width: 100vw;
  margin: 0 auto;
  background: #fff;
}

/* HEADER */

header {
  width: 100vw;
  top: 0;
  background: #fff;
}

.container {
  width: 80.83%;
  margin: 0 auto;
}

.user-area {
  min-height: 30px;
font-family: 'Arial Regular', sans-serif;
font-size: 12px;
  color: #fff;
  background: #000;
  text-transform: uppercase;
}

/* HEADLINE */

.headline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.cont-1 {
  margin: 8px 0;
}

.cont-1 p {
  display: inline;
}

.cont-1 p:last-child {
  margin-left: 8px;
}

.cont-2 p {
  display: inline-block;
  cursor: pointer;
}

.cont-2 i {
  cursor: pointer;
}

.cont-2 p:first-child{
  padding: 8px 0 8px 15px;
  border-left: 1px solid #444444;
}

.cont-2 i:nth-child(2) {
  padding: 8px 14px 8px 10px;
  border-right: 1px solid #444444;
}

.cont-2 i:nth-child(3) {
  margin-left: 14px;
  color: #666666;
}

.cont-2 p:nth-child(4) {
  margin: 0 15px 0 10px;
}

.cont-2 i:last-child {
  padding: 8px 9px;
  border-left: 1px solid #444444;
  border-right: 1px solid #444444;
}

/* MAIN HEADER */

.main-header {
  min-height: 105px;
  background: #fff;
}

.headmain {
  min-height: 105px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

logo {
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  cursor: default;
}

logo img {
  width: 120px;
  height: 28px;
}

.headplace2 {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.headplace2 nav {
display: flex;
flex-wrap: wrap;
}

.headplace2 nav a {
  color: #000;
  font-family: 'Arial Regular', sans-serif;
  font-size: 16px;
  margin-right: 32px;
}

.userdata {
  color: #949393;
  display: flex;
  flex-direction: column;
  width: 214px;
}

.userdata a {
color: #949393;
font-family: 'Arial Regular' sans-serif;
font-size: 12px;
border: 1px solid #949393;
padding: 11px 8px;
display: inline-block;
}

.userdata a i {
  float: right;
}

.userdata p {
  text-align: right;
  max-width: 212px;
  background: #fafafa;
  display: inline-block;
  text-transform: uppercase;
  border-bottom: 1px solid #949393;
  border-left: 1px solid #949393;
  border-right: 1px solid #949393;
  font-size: 11px;
  padding: 11px 8px;
}

.headbag {
  float: left;
}

.menu {
  display: none;
  text-transform: uppercase;
  color: #fff;
}

.menu h3 {
  font-family: 'Arial Regular', sans-serif;
  font-size: 30px;
  font-weight: normal;
}

.menu i {
  color: #fff;
}

/*SLIDER NEW*/

.slideshow-container {
  width: 100vw;
  position: relative;
}

.slide-bg-1 {
  background: url(../img/slider-bg-1.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: 0;
}

.slide-bg-2 {
  background: url(../img/slider-bg-2.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: 0;

}
.slide-bg-3 {
  background: url(../img/slider-bg-3.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: 0;

}
.slide-bg-4 {
  background: url(../img/slider-bg-4.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: 0;

}
.slide-bg-5 {
  background: url(../img/slider-bg-5.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: 0;

}

.slides {
  display: none;
  width: 100vw;
  height: 440px;
}

.text {
 height: 100%;
}

.slider-title {
  font-size: 15px;
 width: 50%;
 display: flex;
 flex-direction: column;
  padding: 8px 16px;
  bottom: 8px;
  color: #f2f2f2;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.slider-title div {
  height: 2px;
  width: 60%;
  background: #78645d;
}

.slider-title h4 {
  font-family: 'Luxury Royale Jf', sans-serif;
  font-size: 36px;
  color: #78645d;
  margin-top: -30px;
  background: #f6f3ec;
  padding: 0 6px;

}

.slider-title h2 {
  font-family: 'Helvetica Neue Lt Std 87 Heavy Condensed', sans-serif;
  font-size: 96.04px;
  margin-top: 8px;
  line-height: 72px;
  padding-bottom: 9px;
text-align: center;
text-transform: uppercase;
border-bottom: 4px solid #78645d;
background: linear-gradient(#c8abae, #f5b38d, #d3afa0);
 -webkit-background-clip: text;
 color: transparent;
}

.slider-title h3 {
  font-family: 'Helvetica Neue Lt Std 47 Light Condensed', sans-serif;
font-size: 36px;
color: #78645d;
margin-top: 3px;
margin-bottom: 18px;
padding: 12px 20px 0 20px;
line-height: 100%;
text-transform: uppercase;
border-top: 1px solid #78645d;
}

.slider-title a {
color: #fff;
font-weight: normal;
background: #fd926d;
border-bottom: 3px solid #dd6b44;
cursor: pointer;
padding: 22px 25px 20px 25px;
font-family: 'Helvetica Neue Lt Std 35 Thin', sans-serif;
font-size: 16px;
text-transform: uppercase;
-moz-user-select: none;
-khtml-user-select: none;
user-select: none;
cursor: pointer;
  }

  .slider-title a i {
margin-left: 20px;
    }

  .slider-title a:active {
    margin-top: 2px;
  border-bottom-color: #fd926d;
  }


.prev, .next {
  position: absolute;
  top: 35%;
  color: #cbcbca;
  background: #fdfcfc;
  font-weight: bold;
  padding: 10px 10px;
  font-size: 18px;
  cursor: pointer;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

.prev {
  padding: 50px 11px 50px 7px;
}

.next {
  right: 0;
  padding: 50px 7px 50px 11px;
}

.prev:hover, .next:hover {
  background: rgba(253,146,109,0.8);
}

.navdots {
  min-height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dots {
  width: 10px;
  height: 10px;
  background: #867a76;
  border-radius: 50%;
  cursor: pointer;
  margin: 0 10px 0 10px;
}

.fade {
  animation-name: fade;
  animation-duration: 0.5s;
}

@keyframes fade {
  from{opacity: 0.4}
    to{opacity: 1}
}

.active, .dots:hover {
  background: #fd926d;
}

/* MAIN */

main {
  min-height: calc(100vh - 330px);
}

/* Contact Line */

.contact-line {
  min-height: 55px;
  background: #ededed;
}

.section-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

}

/* INPUT AREA */

form {
  display: flex;
  flex-wrap: wrap;
}

input:required, textarea:required {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}

/** inputs and textarea**/

input:not([type="submit"]), textarea {
  outline: none;
  display: block;
  width: 130px;
  padding: 4px 10px;
  border: none;
  color: #333333;
  border-left: 1px solid #fff;
  background: #fff;
  font-family: 'Arial', Tahoma, Verdana sans-serif;
  font-style: italic;
  font-size: 12px;
  /*transition*/
  -webkit-transition: background 0.2s linear, box-shadow 0.6s linear;
  -moz-transition: background 0.2s linear, box-shadow 0.6s linear;
  -o-transition: background 0.2s linear, box-shadow 0.6s linear;
  transition: background 0.2s linear, box-shadow 0.6s linear;
}

input:not([type="submit"]):active, textarea:active, input:not([type="submit"]):focus, textarea:focus {
  background: #F7F7F7;
  border-color: #fd926d;
  /*box-shadow*/
  -webkit-box-shadow: 2px 2px 7px #E8E8E8 inset;
  -moz-box-shadow: 2px 2px 7px #E8E8E8 inset;
  box-shadow: 2px 2px 7px #E8E8E8 inset;
}

input:not([type="submit"]) {
  height: 30px;
}

/* placeholder */

::-webkit-input-placeholder {
  color: #9f9f9f;
  font-style: italic;
}

input:-moz-placeholder, textarea:-moz-placeholder {
  color: #f8f7f6;
}

/** labels**/

label {
  color: #6b6b6b;
  font-size: 12px;
  float: left;
  margin-right: 11px;
  padding-top: 12px;
  -webkit-transition: color 1s ease;
  -moz-transition: color 1s ease;
  transition: color 1s ease;
}

label:hover {
  font-weight: bold;
  color: #fd926d;
}


/* input area */
input[type=submit] {
  background: #fd926d;
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  border: none;
  border-bottom: 3px solid #dd6b44;
  cursor: pointer;
}

input[type=submit]:hover {
  background: #fdad2f;
}

input[type=submit]:active, input[type=submit]:focus {
  position: relative;
  top: 1px;
  color: #515151;
  border-color: #fb9c06;
}

.social {
  display: flex;
  align-items: center;
  height: 55px;
}

.social p {
  color: #6b6b6b;
  margin-right: 10px;
}

.social a i {
  color: #6b6b6b;
  height: 100%;
  padding: 18px 18px;
}

.social a:nth-child(2n) {
  background: #f7f7f7;
}

.social a i:hover {
  color: #fff;
  background: #fd926d;
}

/*  Section-2 */

.section-2 {
  margin: 40px 0 50px 0;
  background: #fff;
  text-transform: uppercase;
}

.gallery {
  display: flex;
  max-height: auto;
}

.figure-1 {
  width: 50%;
  background: url('../img/pic1.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.block-1 {
  width: 50%;
  height: 340px;
}

.figure-1-title {
  width: 63%;
  text-align: center;
}

.figure-1 h4 {
  color: #414141;
  font-family: 'Helvetica Neue Lt Std 97 Black Condensed', sans-serif;
  font-size: 33.96px;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  cursor: default;
}

.figure-1 h3 {
  font-family: 'Helvetica Neue Lt Std 37 Thin Condensed', sans-serif;
  font-size: 74.47px;
  color: #414141;
  width: 75%;
  border-bottom: 1px solid #414141;
  text-transform: uppercase;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  cursor: default;
}

.figure-1 h5 {
  font-family: 'Helvetica Neue Lt Std 46 Light', sans-serif;
  font-size: 22.03px;
  color: #fff;
  line-height: 33px;
  width: 33px;
  height: 33px;
  background: #414141;
  border-radius: 50%;
  margin-top: -16.5px;
  font-weight: italic;
  text-transform: uppercase;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  cursor: default;
}

.figure-1 h2 {
  font-family: 'Helvetica Neue Lt Std 97 Bold Condensed', sans-serif;
  font-size: 82.08px;
  color: #4fafa0;
  text-transform: uppercase;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  cursor: default;
}

.figure-2 {
  width: 100%;
  height: 170px;
  background: url('../img/pic2.jpg');
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-size: cover;
  background-position: center;
}

.figure-2-title {
  margin-left: 30px;
  height: 135px;
  width: 131px;
  background: url(../img/Ellipse.png) no-repeat;
  text-align: center;
}

.figure-2 h4 {
  color: #ffa687;
  font-family: 'Bello', sans-serif;
  font-size: 22px;
  margin-top: 30px;
  line-height: 100%;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  text-transform: none;
  cursor: default;
}

.figure-2 h3 {
  font-family: 'Helvetica Neue Lt Std Ultra Light Condensed', sans-serif;
  font-size: 42.41px;
  color: #c1aea8;
  text-transform: uppercase;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  cursor: default;
}

.figure-2 h5 {
  font-family: 'Helvetica Neue Lt Std 77 Bold Condensed', sans-serif;
  font-size: 14px;
  color: #6a6a6a;
  text-transform: uppercase;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  cursor: default;
}

.block-2 {
  width: 100%;
  height: 170px;
  display: flex;
  flex-direction: row;
}

.figure-3 {
  width: 50%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background: url('../img/pic3.jpg');
  background-size: cover;
  background-position: center;
}

.figure-3 a {
font-family: 'Helvetica Neue Lt Std Ultra Light Condensed', sans-serif;
font-size: 33.96px;
text-transform: uppercase;
-moz-user-select: none;
-khtml-user-select: none;
user-select: none;
cursor: pointer;
color: #fff;
text-shadow:  0 2px 0 rgba(0,0,0,0.19);
  }

  .figure-3 a i {
    margin-left: 12px;
    text-shadow:  none;
    }

    .figure-3 a:hover {
  color: #1ee0c2;
  }

.figure-4 {
  width: 50%;
  background: url('../img/pic4.jpg');
  background-size: cover;
  background-position: center;
  color: #fff;
}

.figure-4-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 65.8%;
  text-align: center;
}

.figure-4  h3 {
  margin-top: 47px;
  font-family: 'Helvetica Neue Lt Std 57 Condensed', sans-serif;
font-size: 36px;
line-height: 30px;
margin-bottom: 19px;
}

.figure-4 a {
  color: #fff;
background: #4fafa0;
cursor: pointer;
padding: 10px 12px 10px 8px;
font-family: 'Helvetica Neue Lt Std 45 Light', sans-serif;
font-size: 12px;
text-transform: uppercase;
-moz-user-select: none;
-khtml-user-select: none;
user-select: none;
cursor: pointer;
  }

  .figure-4 a i {
margin-left: 10px;
    }

    .figure-4 a:hover {
  background: #1ee0c2;
  }

/* First Article Block */

.section-3 {
  min-height: 657px;
  background: #fff;
}

.navarea {
  height: 47px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navarea nav {
  display: flex;
  align-items: center;
  height: 47px;
  color: #555555;
  text-transform: uppercase;
}

.navarea nav a {
  padding-left: 18px;
  padding-right: 18px;
  font-family: 'Arial Regular', sans-serif;
  font-size: 15px;
}

.active1 {
  line-height: 48px;;
  color: #fff;
  background: #fd926d;
}

.navright {
  height: 46px;
  background: #f2f2f2;
}
.navright a {
  color: #979797;
}

.navright a i {
  padding-left: 15px;
  padding-right: 15px;
  height: 47px;
}

.active-2 i {
  height: 47px;
  color: #fff;
  background: #fd926d;
}

.navright-2 {
  display: none;
}


/* Sale Content */

.salecontent {
  min-height: 455px;
  background: #fd926d;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.salecont {
  display: flex;
  justify-content: space-between;
}

.shopit {
  display: flex;
  justify-content: center;
  align-items: center;
}

.shop {
  width: 135px;
  height: 135px;
  border-radius: 50%;
  background: #3d3d3d;
  color: #fff;
  margin: 0 auto;
}

.shop a {
  color: #fff;
  font-family: 'Arial Regular', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  background: none;
  line-height: 135px;
}

.sale {
  height: 50px;
  width: 50px;
  font-family: 'Helvetica', sans-serif;
  color: #fff;
  text-align: left;
  background: rgb(76,76,76); /* Old browsers */
background: -moz-linear-gradient(-45deg, rgba(76,76,76,1) 0%, rgba(76,76,76,1) 50%, rgba(255,255,255,1) 51%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, rgba(76,76,76,1) 0%,rgba(76,76,76,1) 50%,rgba(255,255,255,1) 51%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, rgba(76,76,76,1) 0%,rgba(76,76,76,1) 50%,rgba(255,255,255,1) 51%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.sale p {
  font-size: 10px;
  padding-left: 3px;
  padding-top: 6px;
  text-transform: uppercase;
}

.salemob {
  display: none;
}

.more {
  display: none;
}
/* CONTENT AREA */

.contentarea {
  min-height: 564px;
  border-bottom: 1px solid #d8d8d8;
  background: #fff;
}

.contentfild {
  border-top: 1px solid #d8d8d8;
  text-align: center;
}

.white-space {
  height: 157px;
  width: 157px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #fff;
  margin: -78.5px auto 25px auto;
}

.elip {
  margin-top: -78.5px;
  height: 157px;
  width: 157px;
  background: url('../img/Ellipse2.png');
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.elip h4 {
  font-family: 'a_Empirial', sans-serif;
  font-size: 36px;
  line-height: 36px;
}

.top {
  margin-top: 15px;
}

.elip h3 {
  font-family: 'a_Empirial', sans-serif;
  font-size: 80.77px;
}

.outer {
  display: flex;
  justify-content: center;
}

.fig {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.model {
  width: 220px;
  height: 395px;
  background: #f7f7f7;
  text-align: center;
}

.model:hover {
  width: 240px;
  height: 415px;
  transition: 1s;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}



.trans-1 figure {
  height: 73%;
  width: 100%;
  background: url(../img/mod1.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}

.trans-2 figure {
  height: 73%;
  width: 100%;
  background: url(../img/mod2.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}

.trans-3 figure {
  height: 73%;
  width: 100%;
  background: url(../img/mod3.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}

.trans-4 figure {
  height: 73%;
  width: 100%;
  background: url(../img/mod4.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}

.tran-1 figure {
  height: 73%;
  width: 100%;
  background: url(../img/model1.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}

.tran-2 figure {
  height: 73%;
  width: 100%;
  background: url(../img/model2.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}

.tran-3 figure {
  height: 73%;
  width: 100%;
  background: url(../img/model3.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}

.tran-4 figure {
  height: 73%;
  width: 100%;
  background: url(../img/model4.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}

figcaption {
  font-family: 'Arial Regular', sans-serif;
  color: #373737;
}

figcaption h4 {
  font-size: 12px;
  margin-top: 10px;
  margin-bottom: 8px;
}

figcaption h3 {
  font-size: 22px;
  margin-bottom: 12px;
}

.model a {
color: #fff;
background: #fd926d;
border-bottom: 3px solid #dd6b44;
cursor: pointer;
padding: 10px 12px 9px 10px;
font-family: 'Helvetica Neue Lt Std 45 Light', sans-serif;
font-size: 12px;
text-transform: uppercase;
-moz-user-select: none;
-khtml-user-select: none;
user-select: none;
cursor: pointer;
  }

  .model a i {
margin-left: 12px;
}


.model a:hover {
  padding: 11px 12px 10px 10px;
}

  .model a:active {
  padding: 9px 12px 8px 10px;
  border-bottom-color: #fd926d;
  }

  .fig-2 {
    display: none;
  }

/* BRAND AREA */

.brandarea {
  color: #414141;
  text-transform: uppercase;
  border-bottom: 1px solid #d8d8d8;
}

.brand-title {
  width: 155px;
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  font-size: 15px;
  margin: -9px auto 0 auto;
  padding: 0 20px;
  background: #fff;
}

.brands {
  min-height: 95px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.brands div {
  height: 46px;
}

.brands div:first-child {
  height: 28px;
  width: 80px;
  background: url('../img/brand-bg.png') -3px -15px;
}

.brands div:nth-child(2) {
  height: 52px;
  width: 47px;
  background: url('../img/brand-bg.png') -132px -4px;
}

.brands div:nth-child(3) {
  height: 46px;
  width: 48px;
  background: url('../img/brand-bg.png') -237px -6px;
}

.brands div:nth-child(4) {
  height: 35px;
  width: 53px;
  background: url('../img/brand-bg.png') -345px -15px;
}

.brands div:nth-child(5) {
  height: 13px;
  width: 83px;
  background: url('../img/brand-bg.png') -446px -24px;
}

.brands div:nth-child(6) {
  height: 17px;
  width: 96px;
  background: url('../img/brand-bg.png') -579px -20px;
}

.brands div:nth-child(7) {
  height: 22px;
  width: 69px;
  background: url('../img/brand-bg.png') -719px -16px;
}

.brands div:last-child {
  height: 23px;
  width: 133px;
  background: url('../img/brand-bg.png') -844px -16px;
}


/* TEXT AREA */

.textarea {
  text-align: center;
  font-family: 'Arial Regular', sans-serif;
}

.textarea h2 {
  margin-top: 30px;
  color: #414141;
  font-size: 24px;
}

.textarea p {
  color: #999999;
  font-size: 14px;
  margin: 22px 0 30px 0;
}


/* FOOTER */

footer {
  max-height: 330px;
}


/* PAY AREA */

.payarea {
  height: 58px;
  background: #f7f7f7;
}

.cart {
  height: 58px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.cart p {
  color: #414141;
  margin-right: 5px;
}

.cart div {
  height: 22px;
  width: 34px;
  margin-left: 10px;
}


.cart div:nth-child(2) {
  background: url('../img/cart.png') 0 0;
}

.cart div:nth-child(3) {
  background: url('../img/cart.png') -45px 0;
}

.cart div:nth-child(4) {
  background: url('../img/cart.png') -88px 0;
}

.cart div:nth-child(5) {
  background: url('../img/cart.png') -134px 0;
}

.cart div:nth-child(6) {
  background: url('../img/cart.png') -176px 0;
}

.cart div:nth-child(7) {
  background: url('../img/cart.png') -220px 0;
}

.cart div:nth-child(8) {
  background: url('../img/cart.png') -264px 0;
}

.cart div:nth-child(9) {
  background: url('../img/cart.png') -308px 0;
}

.cart div:nth-child(10) {
  background: url('../img/cart.png') -352px 0;
}

.cart div:nth-child(11) {
  background: url('../img/cart.png') -397.5px 0;
}

.cart div:last-child {
  background: url('../img/cart.png') -442px 0;
}


/* INFO AREA */

.infoarea {
  min-height: 198px;
  background: #ededed;
  font-family: 'Arial', sans-serif;
}

.infoblock {
  min-height: 198px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  color: #544f4d;
}

.infoblock h3 {
  font-size: 16px;
  margin-bottom: 8px;
}


.infoblock li {
  font-family: 'Arial Regular', sans-serif;
  font-size: 12px;
  line-height: 18px;
}

.infoblock li a {
  color: #8d8d8d;
}

.infoblock li a:hover {
  text-decoration: underline;
}

.infoblock div:first-child {
  width: 21.16%;
}

.infoblock div:nth-child(2) {
  width: 15.84%;
}

.infoblock div:nth-child(3) {
  width: 20%;
}

.infoblock div:nth-child(4) {
  width: 9.74%;
}

.infoblock div:nth-child(5) {
  display: flex;
  flex-direction: column;
  width: 19.74%;
}

.icons a i {
  color: #fff;
  background: #4c4c4b;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  border-radius: 50%;
  margin-right: 10px;
  margin-bottom: 10px;
}

.icons a i:hover {
  color: #4c4c4b;
  background: #fff;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.secured {
  color: #a59d9a;
  height: 107px;
  width: 107px;
  background: url('../img/Ellipse3.png');
}

.secured h3 {
  font-family: 'Impact', sans-serif;
  font-size: 30.21px;
  padding: 25px 0 0 22px;
  margin-bottom: 0;
}

.secured p {
  text-transform: uppercase;
  font-size: 14px;
  padding-left: 22px;
}

/* FOOT */

.footarea {
  min-height: 74px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footarea p{
  text-align: right;
}

.foot {
  min-height: 74px;
  color: #8d8d8d;
  background-color: #000;
}


.area1 {
  display: flex;
  flex-wrap: wrap;
}

.area1 li {
  font-size: 11px;
  padding: 0 10px 0 10px;
  border-left: 2px solid #8d8d8d;
}

.area1 li a {
  color: #8d8d8d;
}

.area1 li a:hover {
  text-decoration: underline;
}

.area1 li:first-child {
  padding-left: 0;
  border-left: none;
}

.area2 {
  display: none;
}


@media screen and (max-width: 1110px) {

  .model:hover {
    width: 220px;
    height: 395px;
    transition: 1s;
    box-shadow: none;
  }

.trans-4 {
  display: none;
}

.tran-4 {
  display: none;
}

}

/* iPad */

@media screen and (max-width: 768px) {

  .container {
    width: 96.05%;
  }

  .headplace2 nav {
  display: none;
  }

  .menu {
    height: 48px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #fd926d;
    margin-bottom: 17px;
  }

  .menu h3 {
    margin-left: 18px;
  }

  .menu a {
    margin-right: 18px;
  }

  .model:hover {
    width: 220px;
    height: 395px;
    transition: 1s;
    box-shadow: none;
  }

.mod01 {
  display: none;
}

.mod02 {
  display: none;
}

.trans-4 {
  display: none;
}

.tran-4 {
  display: none;
}

  .brands {
    justify-content: space-around;
  }

  .brands div:nth-child(7) {
    display: none;
  }

  .brands div:last-child {
    display: none;
  }



}




/* iPhone */

@media screen and (max-width: 640px) {

  .container {
    width: 95.31%;
    margin: 0 auto;
  }

  /* HEADER */

  .user-area {
    background: rgb(250,250,250); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(250,250,250,1) 0%, rgba(250,250,250,1) 50%, rgba(10,14,10,1) 51%, rgba(10,8,9,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(250,250,250,1) 0%,rgba(250,250,250,1) 50%,rgba(10,14,10,1) 51%,rgba(10,8,9,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(250,250,250,1) 0%,rgba(250,250,250,1) 50%,rgba(10,14,10,1) 51%,rgba(10,8,9,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#0a0809',GradientType=0 ); /* IE6-9 */
  }

  .headline {
    flex-direction: column;
}

  .cont-1 {
    background: #fafafa;
    height: 96px;
    line-height: 96px;
    margin: 0;
    width: 100vw;
    text-align: center;
  }

  .cont-1 p {
  color: #838383;
  font-size: 30px;
}



.cont-2 {
  height: 96px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}

.cont-2 p {
  font-size: 30px;
}

.cont-2 i {
  font-size: 30px;
}

.cont-2 p:first-child{
  border-left: none;
  margin-left: 15px;
}

.cont-2 i:nth-child(2) {
  padding: 31px 26px 31px 13px;
  border-right: 1px solid #444444;
}

.cont-2 i:nth-child(3) {
  margin-left: 14px;
  color: #666666;
}

.cont-2 i:last-child {
  padding: 31px 0 31px 27px;;
  margin-right: 15px;
  border-right: none;
}

.headmain {
  flex-direction: column;
  min-height: 320px;
  width: 95.31%;
  justify-content: center;
  flex-wrap: nowrap;
}

logo {
  margin: 57px 0 54px 0;
}

logo img {
  width: 358px;
  height: 88px;
}

.headplace2 {
    display: block;
    width: 100%;

}

.userdata {
  color: #949393;
  width: 100%;
}

.userdata a {
  display: none;
}

.userdata p {
  text-align: right;
  max-width: 100%;
  background: #fafafa;
  display: inline-block;
  border-top: 1px solid #949393;
  border-bottom: 1px solid #949393;
  border-left: 1px solid #949393;
  border-right: 1px solid #949393;
  font-size: 30px;
  padding: 22px 30px;
}

.menu {
  margin-bottom: 26px;
}

.menu h3 {
  margin-left: 30px;
}

.menu a {
  margin-right: 30px;
}

/* Slider */

.slideshow-container {
  display: none;
}

.navdots {
  display: none;
}

/* Section 2 */

.section-2 {
  display: none;
}


/* Contact Line */

.contact-line {
  background: #fff;
}

.section-1 {
  display: flex;
  flex-direction: column;
}

/* INPUT AREA */

form {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: nowrap;
}

input:required, textarea:required {
  width: 100%;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}

/** inputs and textarea**/

input:not([type="submit"]), textarea {
  padding: 4px 30px;
  border: none;
  border-left: 1px solid #ededed;
  background: #ededed;
  font-size: 30px;
}

input:not([type="submit"]) {
  height: 95px;
}

/* placeholder */

::-webkit-input-placeholder {
  color: #9f9f9f;
  font-style: italic;
}

input:-moz-placeholder, textarea:-moz-placeholder {
  color: #f8f7f6;
}

label {
  display: none;
}

/* input area */
input[type=submit] {
  width: 95px;
  font-size: 80px;
  border-bottom: 8px solid #dd6b44;
}

.social {
  display: flex;
  align-items: center;
  height: 89px;
  margin-top: 24px;
  margin-bottom: 24px;
}

.social p {
  font-size: 26px;
  margin-right: 35px;
}

.social a i {
  color: #6b6b6b;
  height: 100%;
  padding: 28px 28px;
}

/* Section-3 */

.section-3 {
  height: 869px;
  background: rgb(244,132,93); /* Old browsers */
background: -moz-linear-gradient(top, rgba(244,132,93,1) 0%, rgba(244,132,93,1) 50%, rgba(255,255,255,1) 51%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(244,132,93,1) 0%,rgba(244,132,93,1) 50%,rgba(255,255,255,1) 51%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(244,132,93,1) 0%,rgba(244,132,93,1) 50%,rgba(255,255,255,1) 51%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4845d', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
  }

.navarea {
  height: 88px;
  background: #f4845d;
}

.navarea nav a {
  color: #fff;
  padding-left: 15px;
  padding-right: 0;
  font-size: 30px;
}

.navarea nav a:nth-child(2) {
display: none;
}

.navarea nav a:nth-child(3) {
display: none;
}

.navarea nav a:nth-child(4) {
display: none;
}

.active1 {
  line-height: 88px;;
  color: #fff;
  background: none;
}

.navright {
  display: none;
}

.navright-2 {
  display: block;
  padding-right: 15px;
}

.navright-2 a i {
color: #fff;
}

/* Sale Content */

.section-3 {
  min-height: 867px;
}

.salecontent {
  display: none;
}

.mainmob {
  min-height: 675px;
  background: #fd926d;
  text-align: center;
}

.mainmob a {
  color: #fff;
  padding: 22px 53px;
  background: #000;
  text-transform: uppercase;
  font-family: 'Helvetica Neue Lt Std 45 Light', sans-serif;
  font-size: 20px;
  cursor: pointer;
}

.mainmob a:hover {
  background: rgba(0,0,0,0.5);
}

.salemob {
  display: flex;
  min-height: 556px;
  justify-content: space-around;
  align-items: flex-end;
  flex-wrap: wrap;
  margin-bottom: 29px;
}

.modelmob {
  width: 274px;
  height: 524px;
  background: #f7f7f7;
  text-align: center;
}

.model-1 figure {
  height: 376px;
  width: 100%;
  background: url(../img/model-1.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}

.model-2 figure {
  height: 376px;
  width: 100%;
  background: url(../img/model-2.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}

figcaption h4 {
  font-size: 18px;
  text-transform: uppercase;
}

figcaption h3 {
  font-size: 27.49px;
  margin-bottom: 25px;
}

.salemob a {
color: #fff;
background: #fd926d;
border-bottom: 3px solid #dd6b44;
cursor: pointer;
padding: 22px 20px 22px 30px;
font-family: 'Helvetica Neue Lt Std 45 Light', sans-serif;
font-size: 20px;
text-transform: uppercase;
-moz-user-select: none;
-khtml-user-select: none;
user-select: none;
cursor: pointer;
  }

  .salemob a i {
margin-left: 24px;
}


.salemob a:hover {
  padding: 24px 20px 24px 30px;
  background: #fd926d;
}

  .salemob a:active {
  padding: 20px 20px 20px 30px;
  border-bottom-color: #fd926d;
  }

.more {
  display: inline-block;
  user-select: none;
}

/* CONTENT AREA */

.contentarea {
  min-height: 705px;
  border-bottom: none;
  text-align: center;
}

.contentarea a {
  color: #fff;
  padding: 22px 53px;
  background: #000;
  text-transform: uppercase;
  font-family: 'Helvetica Neue Lt Std 45 Light', sans-serif;
  font-size: 20px;
  cursor: pointer;
}

.contentarea a:hover {
  background: rgba(0,0,0,0.5);
}

.contentfild {
  border-top: 1px solid #d8d8d8;
  text-align: center;
}

.fig {
  display: none;
}

.fig-2 {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 28px;
}

.bag {
  width: 275px;
  height: 468px;
  background: #f7f7f7;
  text-align: center;
}

.bag-1 figure {
  height: 310px;
  width: 100%;
  background: url(../img/bag-1.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}

.bag-2 figure {
  height: 310px;
  width: 100%;
  background: url(../img/bag-2.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}

figcaption {
  font-family: 'Arial Regular', sans-serif;
  color: #373737;
}

figcaption h4 {
  font-size: 18px;
  text-transform: uppercase;
}

figcaption h3 {
  font-size: 27.49px;
  margin-bottom: 25px;
}

.bag a {
color: #fff;
background: #fd926d;
border-bottom: 3px solid #dd6b44;
cursor: pointer;
padding: 22px 20px 22px 30px;
font-family: 'Helvetica Neue Lt Std 45 Light', sans-serif;
font-size: 20px;
text-transform: uppercase;
-moz-user-select: none;
-khtml-user-select: none;
user-select: none;
cursor: pointer;
margin-bottom: 10px;
  }

  .bag a i {
margin-left: 24px;
}


.bag a:hover {
  padding: 24px 20px 24px 30px;
  background: #fd926d;
}

  .bag a:active {
  padding: 20px 20px 20px 30px;
  border-bottom-color: #fd926d;
  }

/* Brand Area */

.brandarea {
  display: none;
}


/* Text Area */

.textarea {
  display: none;
}

/* Footer */

.payarea {
  display: none;
}

.infoarea {
  display: none;
}



.area1 {
  display: none;
}

.area2 {
  color: #fff;
  display: block;
}

.area2 i {
  color: #fff;
}


}
